@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';

@theme {
    /* Font Gen Z */
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
    --font-syne: "Syne", sans-serif;

    /* Keyframes Shockwave & Blob */
    @keyframes shockwave {
        0% {
            transform: scale(0.5);
            opacity: 1;
        }
        100% {
            transform: scale(2.5);
            opacity: 0;
        }
    }

    @keyframes blob {
        0%,
        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
    }

    /* Mendaftarkan Animasi ke Tailwind */
    --animate-shockwave: shockwave 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-blob: blob 10s infinite alternate;
}

/* Custom Utility untuk Delay (Cara v4) */
@utility animate-delay-1000 {
    animation-delay: 1s;
}
@utility animate-delay-2000 {
    animation-delay: 2s;
}

@layer base {
    html {
        transition: background-color 0.5s ease;
    }
}
